environment   = "dev"
location      = "francecentral"
workload_name = "backstage"
log_analytics_workspace_id = "/subscriptions/<subscription-id>/resourceGroups/rg-nexus-management/providers/Microsoft.OperationalInsights/workspaces/law-nexus-platform"

docker_image_name = "backstage"
container_registry_use_managed_identity = true

app_service_plan_sku = "B1"       # B1 = minimum for Linux containers; upgrade to P1v3 for production
acr_sku              = "Standard" # Standard supports geo-replication; Basic for dev/cost saving
keyvault_sku         = "standard"

acr_public_network_access_enabled    = true # Standard SKU does not support disabling public access (requires Premium)
webapp_public_network_access_enabled = true
keyvault_purge_protection_enabled    = true # set to false in sandbox to allow full teardown


postgres_admin_login = "backstageadmin"
postgres_sku_name    = "B_Standard_B1ms" # upgrade to GP_Standard_D2s_v3 for production
postgres_storage_mb  = 32768

tags = {
  managed-by  = "terraform"
  stage       = "platform"
  environment = "dev"
}


org_name       = "mariano-forge"
owner_username = "mariano-gbego"
app_title      = "Nexus Platform"

github_client_id     = ""
github_client_secret = ""
github_token         = ""